:root{
    --cor-primaria: #c51717; --vermelho-tonalidade-1: #5e0b0b;

    --cor-borda-index: #8c00ff;
    --cor-borda-css: #1737c5;
    --cor-borda-js: #ffd000;

    --color1:  #fffaff;
    --color2:  #d1cdd1;
    --color3:  #a39fa3;
    --color4:  #757175;
    --color5:  #474347;

    
}

@import url("header.css");
@import url("pagina_escolha.css");
@import url('animation.css');

body{
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-content: center;
    background-color: #10011d;
    color: var(--color5);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vitrine{
    background-color: #1d1d1d;
    --angulo: 0deg;
    padding: 20px;
    margin-top: 20px;
    border-radius: 24px;
    min-width: 30%;
    border: 12px solid;
    border-image: linear-gradient(var(--angulo), var(--cor-borda-index), var(--cor-borda-css)) 1;
    animation: 5s border_rotate linear infinite;
}


.vitrine .divisoria{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.caixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.item img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.item .ver_detalhes_btn{
    background-color: var(--cor-borda-index);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.item .ver_detalhes_btn:hover{
    background-color: var(--cor-primaria);
}





@keyframes border_rotate {
    to {
        --angulo: 360deg;
      }
}

@property --angulo {
    syntax: '<angulo>';
    initial-value: 0deg;
    inherits: false;
}